@import "./styles";
@import "./variables";

.dashboard-content{
    width: 100%;

    &:not(:first-child){
        margin-top: 40px;
    }

    .dashboard-title{
        margin-bottom: 20px;

        h1{
            font-weight: bold;
        }

        p{
            font-weight: bold;
            font-size: 1.1rem;
            color: rgba(0, 0, 0, .7);
        }
    }

    .dashboard-packages{
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        padding: 20px;
        border: 2px solid rgba(0, 0, 0, .2);
        display: flex;
        justify-content: space-between;
        align-items: center;
        background: getColor("tetiary");

        .package-details{
            h3{
                font-size: 1.1rem;
                font-weight: bold;
            }
        }

        .package-icon{
            font-size: 1.7rem;
        }
    }

    .dashboard-cards{
        box-shadow: 0px 0px 10px rgba(0, 0, 0, .1);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        padding: 20px;
        margin-bottom: 20px;

        h3{
            font-weight: bold;
            color: rgba(0, 0, 0, .7);
            font-size: 1.2rem;
        }

        .dashboard-cards-details{
            display: flex;
            justify-content: space-between;
            align-items: center;
            
            h2{
                font-size: 1.6rem;
                font-weight: bold;
            }
        }

        .balance-card-details{
            margin-top: 20px;
        }

        .subtitle{
            // font-weight: bold;
            font-size: 1rem;

            .special{
                color: red;
            }
        }

        .description{
            font-size: 1.2rem;
        }
    }

    .dashboard-referral{
        border: 2px solid rgba(0, 0, 0, .2);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        padding: 20px;
        background: getColor("tetiary");
        display: flex;
        justify-content: space-between;
        align-items: center;

        .referral-content{
            h3{
                font-size: 1.3rem;
                font-weight: bold;
            }

            p{
                font-size: 1rem;
            }
        }

        .referral-action{

            .referral-link-copy{
                background: getColor("primary");
                color: white;
                border-radius: 5px;
                -webkit-border-radius: 5px;
                -moz-border-radius: 5px;
                -ms-border-radius: 5px;
                -o-border-radius: 5px;
                height: auto;
                padding: 10px 20px;

                &:hover,
                &:focus{
                    border: none;

                }
}

        }
    }

    .instruction-container{
        flex-direction: column;
        align-items: flex-start;

        .instruction-header{
            font-size: 1.3rem;
            font-weight: bold;
        }

        ul{
            margin-left: 20px;
        }

    }

    @media only screen and (max-width: 
    575px){

        .dashboard-title{
            text-align: center;
        }

        .dashboard-referral{
            flex-direction: column;
            align-items: center;
            text-align: center;
        }
    }
}