@font-face {
  font-family: pacifico;
  src: url("../fonts/Pacifico-Regular.ttf");
}
@font-face {
  font-family: lora;
  src: url("../fonts/Lora-Regular.ttf");
}
@font-face {
  font-family: lora-bold;
  src: url("../fonts/Lora-Bold.ttf");
}
@font-face {
  font-family: lora-semibold;
  src: url("../fonts/Lora-SemiBold.ttf");
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

a {
  text-decoration: none;
}

.full-width {
  width: 100%;
  height: 100%;
}

.flex-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 9px 20px;
  cursor: pointer;
}

body {
  width: 100%;
  height: auto;
  min-height: 100vh;
  max-width: 1600px;
  font-family: lora;
  color: black;
}
body .header {
  width: 100%;
  height: 80px;
  align-items: center;
  background: #EBC9EA;
  position: fixed;
  z-index: 999;
  left: 50%;
  transform: translateX(-50%);
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
}
body .header .header-container {
  height: 100%;
}
body .header .header-container .header-content {
  height: 100%;
  align-items: center;
}
body .header .header-container .header-content .logo a {
  font-size: 2rem;
  font-family: pacifico;
  color: black;
}
body .header .header-container .header-content .desktop-link ul {
  display: flex;
  list-style: none;
  align-items: center;
}
body .header .header-container .header-content .desktop-link ul li:not(:first-child) {
  margin-left: 80px;
}
body .header .header-container .header-content .desktop-link ul li a {
  color: #220021;
  font-weight: bold;
}
body .header .header-container .header-content .desktop-link ul li.bordered-link a {
  border: 2px solid #B92BB3;
  padding: 7px 20px;
  display: inline-flex;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  color: #B92BB3;
}
body .header .header-container .header-content .desktop-link ul li.background-link a {
  background: #B92BB3;
  color: white;
}
body .header .header-container .header-content .mobile-link-btn {
  display: none;
}
body .header .header-container .header-content .mobile-link-btn button {
  padding: 0px;
  font-size: 1.5rem;
  background: transparent;
  border: transparent;
  box-shadow: none;
}
body .header .header-container .header-content .mobile-link-btn button:hover {
  color: black;
}
body .header .header-container .header-content .mobile-link-btn button:focus {
  color: black;
}
body .all-page-container {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding-top: 80px;
}
body .footer {
  padding: 50px 0px;
  background: #E3AAE1;
}
body .footer .footer-container .footer-logo h1 a {
  color: black;
  font-family: pacifico;
  font-size: 3rem;
}
body .footer .footer-container .footer-logo p {
  font-weight: bold;
}
body .footer .footer-container .footer-link .link-title {
  font-size: 1.3rem;
  font-weight: bold;
}
body .footer .footer-container .footer-link a {
  color: black;
  font-size: 1.1rem;
}
body .footer .footer-container .footer-link p {
  font-size: 1.1rem;
}
body .footer .footer-container .footer-link .page-link {
  list-style: none;
}
body .footer .footer-container .footer-link .page-link li:not(:first-child) {
  margin-top: 10px;
}
body .footer .footer-container .footer-link .social-links {
  display: flex;
  list-style: none;
}
body .footer .footer-container .footer-link .social-links li:not(:first-child) {
  margin-left: 10px;
}
body .footer .footer-container .footer-link .social-links a {
  font-size: 2rem;
}
body .mobile-links .close-mobile-link-button {
  position: absolute;
  top: 20px;
  right: 20px;
  border: none;
  font-size: 1.5rem;
}
body .mobile-links .mobile-links-content {
  margin-top: 50px;
  list-style: none;
}
body .mobile-links .mobile-links-content li a {
  display: inline-block;
  padding: 20px 40px;
  color: black;
  font-size: 1.1rem;
  font-weight: bold;
}
@media only screen and (max-width: 1000px) {
  body .header .header-container .header-content .desktop-link {
    display: none;
  }
  body .header .header-container .header-content .mobile-link-btn {
    display: block;
  }
}
@media only screen and (max-width: 767px) {
  body footer .footer-container .footer-link {
    margin-top: 50px;
  }
}/*# sourceMappingURL=index.css.map */