@import "./variables";
@import "./styles";

body{
    width: 100%;
    height: auto;
    min-height: 100vh;
    max-width: 1600px;
    font-family: lora;
    color: getColor("default");

    .header{
        width: 100%;
        height: getMeasurement("headerHeight");
        align-items: center;
        background: getColor("secondary");
        position: fixed;
        z-index: 999;
        left: 50%;
        transform: translateX(-50%);
        //border: 1px solid red;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);

        .header-container{
            height: 100%;

            .header-content{
                height: 100%;
                align-items: center;
                // border: 1px solid red;

                .logo{

                    a{
                        font-size: 2rem;
                        font-family: pacifico;
                        color: getColor("default");
                    }
                }

                .desktop-link{

                    ul{
                        display: flex;
                        list-style: none;
                        align-items: center;

                        li{

                            &:not(:first-child){
                                margin-left: 80px;
                            }

                            a{
                                color: getColor("defaultTwo");
                                font-weight: bold;
                            }

                            &.bordered-link{
                                
                                a{
                                    border: 2px solid getColor("primary");
                                    padding: 7px 20px;
                                    display: inline-flex;
                                    border-radius: 5px;
                                    -webkit-border-radius: 5px;
                                    -moz-border-radius: 5px;
                                    -ms-border-radius: 5px;
                                    -o-border-radius: 5px;
                                    color: getColor("primary");

                                }
                            }

                            &.background-link{
                                
                                a{
                                    background: getColor("primary");
                                    color: white;

                                }
                            }
                        }
                    }
                }

                .mobile-link-btn{
                    display: none;

                    button{
                        padding: 0px;
                        font-size: 1.5rem;
                        background: transparent;
                        border: transparent;
                        box-shadow: none;

                        &:hover{
                            color: getColor("default");
                        }

                        &:focus{
                            color: getColor("default");
                        }
                    }


                }

            }
        }
    }

    .all-page-container{
        width: 100%;
        height: auto;
        min-height: 100vh;
        padding-top: getMeasurement("headerHeight");
    }

    .footer{
        padding: 50px 0px;
        background: getColor("primaryLight");

        .footer-container{

            .footer-logo{

                h1{

                    a{
                        color: getColor("default");
                        font-family: pacifico;
                        font-size: 3rem;
                    }
                }

                p{
                    font-weight: bold;
                }
            }

            .footer-link{

                .link-title{
                    font-size: getMeasurement("subHeaderFontSize");
                    font-weight: bold;
                }

                a{
                    color: black;
                    font-size: 1.1rem;
                }
                
                p{
                    font-size: 1.1rem;

                }

                .page-link{
                    list-style: none;

                    li{

                        &:not(:first-child){
                            margin-top: 10px;
                        }
                    }
                }

                .social-links{
                    display: flex;
                    list-style: none;

                    li{
                        &:not(:first-child){
                            margin-left: 10px;
                        }
                    }

                    a{
                        font-size: 2rem;
                    }
                }
            }
        }
    }

    .mobile-links{
        // border: 1px solid red;

        .close-mobile-link-button{
            position: absolute;
            top: 20px;
            right: 20px;
            border: none;
            font-size: 1.5rem;
        }

        .mobile-links-content{
            margin-top: 50px;
            list-style: none;

            li{

                a{
                    display: inline-block;
                    padding: 20px 40px;
                    color: black;
                    font-size: 1.1rem;
                    font-weight: bold;
                }
            }

        }

    }

    @media only screen and (max-width: 1000px){

        .header{

            .header-container{

                .header-content{

                    .desktop-link{
                        display: none;
                    }

                    .mobile-link-btn{
                        display: block;
                    }
                }
            }
        }
    }


    @media only screen and (max-width: 767px){
        footer{

            .footer-container{

                .footer-link{
                    margin-top: 50px;
                }
            }
        }
    }

}

