@import "./styles";
@import "./variables";

.request-content{
    width: 100%;

    &:not(:first-child){
        margin-top: 40px;
    }


    h1{
        font-size: 1.5rem;
        font-weight: bold;
    }
    
    table{
        width: 100%;
        border-collapse: collapse;

        td{
            padding: 20px;

            &.empty-data{
                text-align: center;
                font-weight: bold;
            }
        }

        thead{
            tr{

                &:not(:nth-child(even)){

                    background: getColor("tetiary");
                }
            }

            td{
                font-weight: bold;
            }
        }

        tbody{

            tr{

                &:nth-child(even){

                    background: getColor("tetiary");
                }

                td{

                    .withdraw-button{
                        border-radius: 5px;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -ms-border-radius: 5px;
                        -o-border-radius: 5px;
                        background: getColor("primary");
                        color: white;
                        border: none;

                        &:disabled{
                            background: rgba(0, 0, 0, .1);
                            color: rgba(0, 0, 0, .5);
                        }

                        &:focus,
                        &:hover{
                            border: none;
                        }
                    }

                    .action-btn{
                        display: flex;
                        // flex-direction: column;

                        button{
                            //width: 100%;
                            border-radius: 5px;
                            -webkit-border-radius: 5px;
                            -moz-border-radius: 5px;
                            -ms-border-radius: 5px;
                            -o-border-radius: 5px;

                            
                            &.edit-button{
                                background: getColor("primary");
                                color: white;
                                border: 2px solid getColor("primary");

                                &:hover{
                                    background: transparent;
                                    color: getColor("primary");
                                }
                            }

                            &.delete-button{
                                background: red;
                                color: white;
                                border: 2px solid red;

                                &:hover{
                                    background: transparent;
                                    color: red;
                                }
                            }

                            &:not(:first-child){
                                margin-left: 10px;
                            }
                        }
                        
                    }

                    .status{
                        padding: 5px 10px;
                        display: inline-flex;
                        background: rgba(0, 0, 0, .1);
                        color: rgba(0, 0, 0, .5);
                        font-weight: bold;
                        border-radius: 5px;
                        -webkit-border-radius: 5px;
                        -moz-border-radius: 5px;
                        -ms-border-radius: 5px;
                        -o-border-radius: 5px;
                    }

                    .success{
                        background: rgba(0, 255, 0, .1);
                        color: rgba(0, 200, 0, .5);

                    }

                    .pending{
                        background: rgba(200, 255, 0, .4);
                        color: rgba(200, 200, 0, .9);

                    }

                    .failed{
                        background: rgba(255, 0, 0, .1);
                        color: rgba(255, 0, 0, .5);

                    }
                }
            }
        }
    }

    
}

.request-header-link{
    
    .button{
        color: black;
        font-size: 1rem;
        font-weight: bold;
    }

}

.user-details-modal-content{
    width: 100%;
    height: 100%;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: scroll;

    .close-btn{
        position: fixed;
        top: 10px;
        right: 20px;
        color: red;
        font-weight: bold;
        font-size: 1.5rem;
        border: none;
        z-index: 9;

        &:hover{
            color: red;
        }
    }

    .loading{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        font-weight: bold;
    }

    .user-details-modal-container{
        width: 100%;
        max-width: 500px;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, .1);
        border-radius: 10px;
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        -ms-border-radius: 10px;
        -o-border-radius: 10px;
        padding: 20px;

        .details-content{
            display: flex;

            &:not(:first-child){
                margin-top: 20px;
            }

            .title{
                font-weight: bold;
                margin-right: 10px;
            }

        .approve-btn{
            background: getColor("primary");
            border: 2px solid getColor("primary");
            color: white;
            padding: 8px 20px;
            width: auto;
            height: auto;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            -ms-border-radius: 5px;
            -o-border-radius: 5px;

            &:hover{
                background: transparent;
                color: getColor("primary");
                transition: 0.5s ease all;
                -webkit-transition: 0.5s ease all;
                -moz-transition: 0.5s ease all;
                -ms-transition: 0.5s ease all;
                -o-transition: 0.5s ease all;
            }
        }

        }
}
}