html {
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

a {
  text-decoration: none;
}

.button {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 9px 20px;
  cursor: pointer;
}

@font-face {
  font-family: pacifico;
  src: url("../fonts/Pacifico-Regular.ttf");
}
@font-face {
  font-family: lora;
  src: url("../fonts/Lora-Regular.ttf");
}
@font-face {
  font-family: lora-bold;
  src: url("../fonts/Lora-Bold.ttf");
}
@font-face {
  font-family: lora-semibold;
  src: url("../fonts/Lora-SemiBold.ttf");
}
.request-content {
  width: 100%;
}
.request-content:not(:first-child) {
  margin-top: 40px;
}
.request-content h1 {
  font-size: 1.5rem;
  font-weight: bold;
}
.request-content table {
  width: 100%;
  border-collapse: collapse;
}
.request-content table td {
  padding: 20px;
}
.request-content table td.empty-data {
  text-align: center;
  font-weight: bold;
}
.request-content table thead tr:not(:nth-child(even)) {
  background: #FFF1FE;
}
.request-content table thead td {
  font-weight: bold;
}
.request-content table tbody tr:nth-child(even) {
  background: #FFF1FE;
}
.request-content table tbody tr td .withdraw-button {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  background: #B92BB3;
  color: white;
  border: none;
}
.request-content table tbody tr td .withdraw-button:disabled {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
}
.request-content table tbody tr td .withdraw-button:focus, .request-content table tbody tr td .withdraw-button:hover {
  border: none;
}
.request-content table tbody tr td .action-btn {
  display: flex;
}
.request-content table tbody tr td .action-btn button {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.request-content table tbody tr td .action-btn button.edit-button {
  background: #B92BB3;
  color: white;
  border: 2px solid #B92BB3;
}
.request-content table tbody tr td .action-btn button.edit-button:hover {
  background: transparent;
  color: #B92BB3;
}
.request-content table tbody tr td .action-btn button.delete-button {
  background: red;
  color: white;
  border: 2px solid red;
}
.request-content table tbody tr td .action-btn button.delete-button:hover {
  background: transparent;
  color: red;
}
.request-content table tbody tr td .action-btn button:not(:first-child) {
  margin-left: 10px;
}
.request-content table tbody tr td .status {
  padding: 5px 10px;
  display: inline-flex;
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.request-content table tbody tr td .success {
  background: rgba(0, 255, 0, 0.1);
  color: rgba(0, 200, 0, 0.5);
}
.request-content table tbody tr td .pending {
  background: rgba(200, 255, 0, 0.4);
  color: rgba(200, 200, 0, 0.9);
}
.request-content table tbody tr td .failed {
  background: rgba(255, 0, 0, 0.1);
  color: rgba(255, 0, 0, 0.5);
}

.request-header-link .button {
  color: black;
  font-size: 1rem;
  font-weight: bold;
}

.user-details-modal-content {
  width: 100%;
  height: 100%;
  padding: 20px;
  background: white;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}
.user-details-modal-content .close-btn {
  position: fixed;
  top: 10px;
  right: 20px;
  color: red;
  font-weight: bold;
  font-size: 1.5rem;
  border: none;
}
.user-details-modal-content .close-btn:hover {
  color: red;
}
.user-details-modal-content .loading {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
}
.user-details-modal-content .user-details-modal-container {
  width: 100%;
  max-width: 500px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  padding: 20px;
}
.user-details-modal-content .user-details-modal-container .details-content {
  display: flex;
}
.user-details-modal-content .user-details-modal-container .details-content:not(:first-child) {
  margin-top: 20px;
}
.user-details-modal-content .user-details-modal-container .details-content .title {
  font-weight: bold;
  margin-right: 10px;
}
.user-details-modal-content .user-details-modal-container .details-content .approve-btn {
  background: #B92BB3;
  border: 2px solid #B92BB3;
  color: white;
  padding: 8px 20px;
  width: auto;
  height: auto;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.user-details-modal-content .user-details-modal-container .details-content .approve-btn:hover {
  background: transparent;
  color: #B92BB3;
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}/*# sourceMappingURL=request.css.map */