@font-face {
  font-family: pacifico;
  src: url("../fonts/Pacifico-Regular.ttf");
}
@font-face {
  font-family: lora;
  src: url("../fonts/Lora-Regular.ttf");
}
@font-face {
  font-family: lora-bold;
  src: url("../fonts/Lora-Bold.ttf");
}
@font-face {
  font-family: lora-semibold;
  src: url("../fonts/Lora-SemiBold.ttf");
}
html {
  font-size: 16px;
  scroll-behavior: smooth;
}

* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

button {
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

a {
  text-decoration: none;
}

.button {
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  padding: 9px 20px;
  cursor: pointer;
}

.users {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.users .user-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.users .user-container .navbar {
  width: 350px;
  height: 100%;
  background: #E3AAE1;
}
.users .user-container .navbar .nav-container {
  width: 100%;
  height: 100%;
}
.users .user-container .navbar .nav-container .nav-header {
  display: flex;
  padding: 0px 30px;
  height: 80px;
  justify-content: space-between;
  align-items: center;
}
.users .user-container .navbar .nav-container .nav-header .logo-text {
  font-size: 1.6rem;
  font-family: pacifico;
  margin-top: -5px;
  color: black;
}
.users .user-container .navbar .nav-container .nav-header .shrink-nav-button {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  padding: 0px;
}
.users .user-container .navbar .nav-container .nav-header .shrink-nav-button:hover, .users .user-container .navbar .nav-container .nav-header .shrink-nav-button:focus {
  color: black;
}
.users .user-container .navbar .nav-container .nav-links {
  width: 100%;
  height: calc(100% - 80px);
  padding: 30px 0px;
  overflow-y: scroll;
  scrollbar-color: rgba(255, 255, 255, 0.4);
}
.users .user-container .navbar .nav-container .nav-links::-webkit-scrollbar {
  width: 5px;
}
.users .user-container .navbar .nav-container .nav-links::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.8);
}
.users .user-container .navbar .nav-container .nav-links ul {
  list-style: none;
}
.users .user-container .navbar .nav-container .nav-links ul li a {
  width: 100%;
  display: inline-flex;
  padding: 20px 30px;
  font-size: 1.1rem;
  color: black;
  align-items: center;
  font-weight: bold;
}
.users .user-container .navbar .nav-container .nav-links ul li a .text {
  margin-left: 15px;
}
.users .user-container .navbar .nav-container .nav-links ul .active-link a {
  background: #B92BB3;
  color: white;
}
.users .user-container .mobile-nav {
  display: none;
  position: absolute;
  z-index: 99;
  left: "-350px";
  transition: 0.5s ease all;
  -webkit-transition: 0.5s ease all;
  -moz-transition: 0.5s ease all;
  -ms-transition: 0.5s ease all;
  -o-transition: 0.5s ease all;
}
.users .user-container .main-content {
  width: calc(100% - 350px);
  height: 100%;
}
.users .user-container .main-content .main-content-header {
  width: 100%;
  height: 80px;
  background: #FFF1FE;
  display: flex;
  align-items: center;
}
.users .user-container .main-content .main-content-header .logged-in-header {
  width: 100%;
  padding: 0px 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.users .user-container .main-content .main-content-header .logged-in-header button {
  background: transparent;
  font-size: 1.5rem;
  border: none;
  padding: 0px;
}
.users .user-container .main-content .main-content-header .logged-in-header button:hover, .users .user-container .main-content .main-content-header .logged-in-header button:focus {
  color: black;
}
.users .user-container .main-content .main-content-header .logged-in-header button.mobile-btn {
  display: none;
}
.users .user-container .main-content .main-content-header .logged-in-header .header-actions button {
  font-size: 1.8rem;
}
.users .user-container .main-content .main-content-header .logged-in-header .header-actions button:not(:first-child) {
  margin-left: 30px;
}
.users .user-container .main-content .main-content-header .logged-in-header .header-actions button.account-btn {
  color: #B92BB3;
  font-size: 2rem;
}
.users .user-container .main-content .main-content-outlet {
  width: 100%;
  height: calc(100% - 80px);
  padding: 30px;
  overflow-y: scroll;
  scrollbar-color: rgba(0, 0, 0, 0.5);
  scrollbar-width: thin;
}
.users .user-container .main-content .main-content-outlet::-webkit-scrollbar {
  width: 5px;
}
.users .user-container .main-content .main-content-outlet::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}
.users .user-container .main-content .main-content-outlet::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1);
}
@media only screen and (max-width: 1212px) {
  .users .user-container .navbar {
    display: none;
  }
  .users .user-container .mobile-nav {
    display: block;
  }
  .users .user-container .main-content {
    width: 100%;
  }
  .users .user-container .main-content .main-content-header .logged-in-header button.mobile-btn {
    display: block;
  }
}

.overflow-table {
  overflow-x: scroll;
}
.overflow-table::-webkit-scrollbar {
  height: 6px;
}
.overflow-table::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.5);
}
.overflow-table table {
  min-width: 650px;
}/*# sourceMappingURL=user.css.map */