@import "./variables";
@import "./styles";


.users{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    // border: 1px solid red;

    .user-container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-between;

        .navbar{
            width: 350px;
            height: 100%;
            background: getColor("primaryLight");

            .nav-container{
                width: 100%;
                height: 100%;

                .nav-header{
                    display: flex;
                    // padding: 30px;
                    padding: 0px 30px;
                    height: getMeasurement("headerHeight");
                    justify-content: space-between;
                    align-items: center;

                    .logo-text{
                        font-size: 1.6rem;
                        font-family: pacifico;
                        margin-top: -5px;
                        color: getColor("default");
                    }

                    .shrink-nav-button{
                        background: transparent;
                        border: none;
                        font-size: 1.5rem;
                        // margin-top: 10px;
                        padding: 0px;

                        &:hover,
                        &:focus{
                            color: getColor("default");
                        }
                    }
                }

                .nav-links{
                    width: 100%;
                    height: calc(100% - getMeasurement("headerHeight"));
                    // border: 1px solid red;
                    padding: 30px 0px;
                    overflow-y: scroll;
                    scrollbar-color: rgba(255,255, 255, .4);

                    &::-webkit-scrollbar{
                        width: 5px;
                    }

                    &::-webkit-scrollbar-thumb{
                        background: rgba(255,255, 255, .8);
                    }

                    ul{
                        list-style: none;

                        li{

                            a{
                                width: 100%;
                                display: inline-flex;
                                padding: 20px 30px;
                                font-size: 1.1rem;
                                color: getColor("default");
                                align-items: center;
                                font-weight: bold;

                                .text{
                                    margin-left: 15px;
                                }
                            }

                        }

                        .active-link{

                            a{
                                background: getColor("primary");
                                color: white;
                            }
                        }
                    }
                }
            }
        }

        .main-content{
            width: calc(100% - 350px);
            height: 100%;
            // border: 1px solid red;

            .main-content-header{
                width: 100%;
                height: getMeasurement("headerHeight");
                background: getColor("tetiary");
                // border: 1px solid red;
                display: flex;
                align-items: center;

                .logged-in-header{
                    width: 100%;
                    padding: 0px 30px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    button{
                        background: transparent;
                        font-size: 1.5rem;
                        border: none;
                        padding: 0px;

                        &:hover,
                        &:focus{
                            color: getColor("default");
                        }

                        &.mobile-btn{
                            display: none;

                        }
                    }

                    .header-actions{

                        button{
                            font-size: 1.8rem;

                            &:not(:first-child){
                                margin-left: 30px;
                            }

                            &.account-btn{
                                color: getColor("primary");
                                font-size: 2rem;
                            }
                        }

                    }
                }

            }

            .main-content-outlet{
                width: 100%;
                height: calc(100% - getMeasurement("headerHeight"));
                // border: 1px solid red;
                padding: 30px;
                overflow-y: scroll;
                scrollbar-color: rgba(0, 0, 0, .5);
                scrollbar-width: thin;

                &::-webkit-scrollbar{
                    width: 5px;
                }

                &::-webkit-scrollbar-thumb{
                    background: rgba(0, 0, 0, .5);
                }

                &::-webkit-scrollbar-track{
                    background: rgba(0, 0, 0, .1);
                }

            }
        }

    }
}